body {
    background-color: #1B262C;
}

.contenedor {
    /* position: absolute; */
    width: 100%;
    height: 100% !important;
    min-height: 100vh !important;
    box-sizing: border-box;
    border-radius: 6px;
}

h1 {
    color: white;
    text-align: center;
}

.btnInicio {
    width: 50%;
}

.textColor {
    color: white;
    margin-bottom: 5%;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 450px) {
    h1 {
        font-size: 2.5rem;
    }

    img {
        width: 54%;
        height: auto;
        display: block;
        margin-top: 10%;
    }
}

@media ((min-width:451px) and (max-width: 599px)) {
    h1 {
        font-size: 3.5rem;
    }

    img {
        width: 60%;
        height: auto;
        display: block;
        margin-top: 10%;
    }
}

@media ((min-width:600px) and (max-width: 2000px)) {
    h1 {
        font-size: 4.5rem;
    }

    img {
        width: 64%;
        height: auto;
        display: block;
        margin-top: 10%;
    }
}